<html>
<head>
    <title>RTMP - Repeater</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>RTMP - Repeater</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <% streams.forEach(function(stream) { %>
            <div class="col-xs-4">
                <div data-stream-id="<%= stream.id %>" class="stream panel panel-<%= stream.active ? 'success' : 'warning' %>">
                    <div class="panel-heading">
                        <span class="name"><%= stream.name %></span>
                        <span class="status badge">-</span>
                    </div>
                    <div class="panel-body">
                        <%if (!stream.destination) { %>
                            <button class="btn btn-success">Start</button>
                            <button class="btn btn-danger">Stop</button>
                        <% } %>
                        <%if (stream.destination) { %>
                            <pre><%= stream.source %>
<%= stream.destination %></pre>
                            <button class="btn btn-danger">Delete</button>
                        <% } %>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create Stream
                    </div>
                    <div class="panel-body create-stream">
                        <div class="form-group">
                            <label>Source</label>
                            <input class="form-control" name="source" />
                        </div>
                        <div class="form-group">
                            <label>Destination</label>
                            <input class="form-control" name="destination" />
                        </div>
                        <button class="btn btn-success">Start</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <ul>
                    <li>Arabic: rtmp://rtmp.abnsat.com/live/arabic</li>
                    <li>Trinity: rtmp://rtmp.abnsat.com/live/trinity</li>
                    <li>Farsi (KoH): rtmp://rtmp.abnsat.com/live/abnsama</li>
                    <li>ABNPARS: rtmp://rtmp.abnsat.com/ingest/abnpars</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <a target="_blank" href="http://rtmp.abnsat.com/stats">RTMP Statistics</a>
            </div>
        </div>
    </div>
</body>
</html>
